[Unit]
Description=Tide Clock for the Raspberry Pi
PartOf=graphical-session.target

[Service]
Environment=DISPLAY=:0
User=pi
Group=pi
Type=simple
#Restart=always
ExecStart=/etc/tideclk_venv/bin/tideclk

[Install]
WantedBy=graphical.target
